<%= render('layouts/errors', :object => @answer) %>

<%= form_for [@question, @answer] do |f| %>
  <%= f.text_field :answer, class:'form-control', placeholder:'Answer Question' %> <br>
  <p><%= f.submit class:'btn btn-success'%></p>
<% end %>
